
<div class="messages"></div>

<% if (PROCESSINGSTATUS == 0) { %>

<p>This procesing job failed: <%-PROCESSINGMESSAGE%></p>

<% } else { %>

<p class="r downloads">
    <a class="apattach button" href="#"><i class="fa fa-files-o"></i> Attachments</a>
</p>



<table class="reflow cell">
    <thead>
    Fitted params
    <tr>
        <th>Model</th>
        <th>Param1</th>
        <th>Param2</th>
        <th>Param3</th>
        <th>Param4</th>
        <th>Param5</th>
        <th>Param6</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><%-SG%></td>
        <td><%-CELL.CELL_A%></td>
        <td><%-CELL.CELL_B%></td>
        <td><%-CELL.CELL_C%></td>
        <td><%-CELL.CELL_AL%></td>
        <td><%-CELL.CELL_BE%></td>
        <td><%-CELL.CELL_GA%></td>
    </tr>
    </tbody>
</table>

<table class="reflow cell">
    <thead>
    Original Model params
    <tr>
        <th>Model</th>
        <th>Param1</th>
        <th>Param2</th>
        <th>Param3</th>
        <th>Param4</th>
        <th>Param5</th>
        <th>Param6</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><%-SG%></td>
        <td><%-CELL.CELL_A%></td>
        <td><%-CELL.CELL_B%></td>
        <td><%-CELL.CELL_C%></td>
        <td><%-CELL.CELL_AL%></td>
        <td><%-CELL.CELL_BE%></td>
        <td><%-CELL.CELL_GA%></td>
    </tr>
    </tbody>
</table>


<table class="reflow bc">
    <thead>
    <tr>
        <th>ProcessingInfo</th>
        <th>Y</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Program</td>
        <td><%-SG%></td>

    </tr>
    <!-- these are flipped, not sure why? -->
    <tr>
        <td>Error</td>
        <td><%-BEAM.REFINEDYBEAM%></td>
    </tr>
    <tr>
        <td>ChiSq</td>
        <td><%-(BEAM.XBEAM-BEAM.REFINEDYBEAM).toFixed(2)%></td>
    </tr>

    </tbody>
</table>

<% } %>

<div class="data_collection" dcid="<%-DCID%>" type="data">

    <div class="snapshots" title="View crystal snapshots for the current data collection">
        <a href="<%-APIURL%>/image/id/<%-DCID%>/f/1" title="Crystal Snapshot 1"><img dsrc="" alt="Crystal Snapshot 1" /></a>
    </div>
    <div class="diffraction" title="Click to view diffraction images">
        <a href="/dc/view/id/<%-DCID%>/f/2"><img dsrc="" alt="Diffraction Image 1" /></a>
    </div>

</div>
